/*---------------------------HEADER & FOOTER-------------------------------------------------- */

.loading_screen_div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.loading_screen_div h1 {
    font-size: x-large;
}

.loading_screen_div .logo {
    background-color: black;
    border-radius: 5px;
    padding: 0.2em;
    color: white;
}


.myHeader {
    /* background-color:#f5f6fa; */
    /* border-bottom: 2px solid lightgrey; */
    min-height: 8vh;
    /* good usable height */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
    font-family: sans-serif;
    font-size: small;
    font-weight: bolder;
}

.myFooter {
    /* border-top: 1px solid lightgray; */
    background-color: white;
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0.7em 0;
    padding: 1em;
    /* border: 2px solid rebeccapurple; */
    font-family: sans-serif;
}

/*----------------------------------------LOGO LINK------------------------------------------------*/
.logoDiv {
    min-width: 50%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    gap: 0 0.3em;
}

.logoURL {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: black;
    border-radius: 20%;
    padding: 5px;
}


/*------------------- NAVIGATION---------------------------------------------------------------- */

.myNav {
    height: 100%;
    /* same height as header */
    display: flex;
    align-items: center;
    gap: 0 5em;
}

.myURLs {
    opacity: 0.7;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}

header .myURLs {
    opacity: 1;
}

.myURLs:hover {
    opacity: 1;
}

/*---------------------------------- Footer------------------------------------------------ */
.footerNav {
    min-width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    gap: 0 1.5em;
}

.icons {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footerSubDiv1 {
    /* border: 2px solid red; */
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 8vh;
    /* padding: 1.9em; */
}

.footerSubDiv2 {
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

/*-----------------------------Main Section Code------------------------------------------------ */
.mySection1 {
    /* border: 2px solid red; */
    width: 100%;
    /* height: 58vh; */
    background-color: gainsboro;
}

.mySection2 {
    /* border: 2px solid red; */
    background-color: #f5f6fa;
    width: 100%;
    /* height: 50vh; */
    padding: 0.7em;
    display: flex;
    flex-direction: column;
}

.subsection {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

.subsection img {
    /* border: 2px solid black; */
    width: 350px;
    object-fit: contain;
}

.subsection h1 {
    /* border: 2px solid lightblue; */
    font-size: 2.4em;
    text-align: center;
    align-self: center;
    font-weight: bolder;
}

.mySection2 h1 {
    font-size: 2.2em;
}

.recommendationDiv {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
}

.recmdContainer {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    padding-left: 1.5em;
}

.viewBtn, .applyBtnSinglePage {
    width: 100px;
    color: white;
    /* border: 2px solid black; */
    background-color: black;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.job_wrapper {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    min-height: 100vh;
    /* padding: 1.5em; */
    background-color: #f5f6fa;
}

.jobListContainer {
    background-color: #f5f6fa;
    padding: 1.2em;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.9em 1.5em;
}

.jobChild {
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 1px lightgray;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 1em;
}

.link {
    font-size: '1em';
    text-decoration: none;
    color: black;
}

.jobChild:hover {
    transform: translateY(-2px);
}

.job_btn {
    width: 80px;
    border: 2px solid black;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.job_btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.job_btn:active,
.viewBtn:active,
.applyBtnSinglePage:active {
    scale: 0.8;
}

.mySpeciJobWrapper{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5em;
    background-color: #f5f6fa;
    gap: 1.2em;
}
.sectionJobSpeci{
    width: 100%;
    min-height: 10vh;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 1em;
}
.overview_section{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.overview_section li{
   /* border: 2px solid black; */
   display: flex;
   width: 350px;
   justify-content: start;
   gap: 2.3em;
   align-items: center;
}
.responsibility_section, .skill_section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.skill_section li{
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* APPLY BUTTON */
.applyBtn {
    margin-top: 15px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.applyBtn:active {
    background-color: #333;
    scale: 0.8;
}

/* Bottom Apply Button Wrapper */
.applyBtnWrapper {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (400px <=width <=700px) {
    .jobChild{
        width: 100%;
    }
    .recommendationDiv {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
    }
    .recommendationDiv h1{
        font-size: xx-large;
    }

    .recmdContainer {
        padding: 0;
    }

    .viewLinkBtn {
        display: none;
    }

    .subsection {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .subsection img {
        width: 80%;
        object-fit: contain;
    }
    .subsection h1{
    font-size: medium;
    text-align: center;
    align-self: center;
    font-weight: bolder;
    font-style: italic;
    }
}